<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Package[]|\Cake\Collection\CollectionInterface $packages
 */
?>
<?= $this->Html->image("/files/letterhead.png", ['fullBase' => true]) ?>
<div class="box box-block bg-white">
	<div class="clearfix mb-1">
		<h5 class="float-xs-left"><?= $title; ?></h5>
	</div>
    <?php echo $this->Form->create(null, ['class'=>'form-inline','valueSources' => 'query','id'=>'SearchForm']); ?>
        <?php echo $this->Form->input('search',['placeholder'=>'Search','label'=>false]); ?>
        <?php echo $this->Form->button('Search', ['class'=>'btn btn-bordered-info']); ?>
        <?php echo $this->Html->link('Reset', ['action' => 'index'],['class'=>'btn btn-primary']); ?>
        <?php echo $this->Form->end(); ?>
	<script>
		$(document).ready(function(){
			$("#SearchForm").one("submit", function(e) {
				e.preventDefault();
				$.post('serviceInvoices', $('#SearchForm').serialize()).done(function(data){
					NProgress.start();
					$("#ajaxDiv").empty().append(data);
					NProgress.done();
				});;
			});
		});
	</script>
</div>
<div class="box box-block bg-white">
<div class="clearfix mb-1">
		<div class="float-xs-right">
			<?= $this->N->addLink(array('action'=>'edit')); ?>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"><?= $this->Paginator->sort('invoice_no')?></th>
							<th scope="col"><?= $this->Paginator->sort('invoice_date')?></th>
                            <th scope="col"><?= $this->Paginator->sort('client.client_name', 'Client')?></th>
                            <th scope="col"><?= $this->Paginator->sort('project_id', 'Project')?></th>
                            <th scope="col"><?= $this->Paginator->sort('total_amount')?></th>
                            <th scope="col"><?= $this->Paginator->sort('balance_amount') ?></th>
							<th scope="col" width="15%"><?= $this->Paginator->sort('Actions') ?></th>
				        </tr>
                    </thead>
                    <tbody>
                        <?php
                            foreach ($serviceInvoices as $invoice):
                                $class = $invoice->is_cancel ? "cancel" : "";
                        ?>
                        <tr class="<?=$class?>">
                            <td><?= $invoice->invoice_no?></td>
							<td><?= $invoice->invoice_date?></td>
                            <td><?= $invoice->client->client_name?></td>
                            <td><?= $invoice->project ? $invoice->project->project_with_client : '---'; ?></td>
                            <td><div class="pull-right"><?= $this->Number->currency($invoice->total_amount)?></div></td>
                            <td><div class="pull-right"><?= $this->Number->currency($invoice->balance_amount)?></div></td>
                            <td class="actions">
                                <div class="pull-right">
                                    <?= ($invoice->is_cancel == false) ? $this->N->editLink(['action' => 'edit', $invoice->id]) : '' ; ?>
                                    <?= ($invoice->is_cancel == false) ? $this->Html->link('Cancel', ['action'=>'cancel', $invoice->id] ,['class'=>'btn btn-danger btn-sm', 'confirm'=>'Are you sure you want to cancel this Invoice ?']) : ''; ?>
                                    <?= $this->Html->link('Print', '/files' .  DS . 'services' . DS . 'invoices' . DS . 'service_invoice-' . $invoice->id . '.pdf' ,['class'=>'btn btn-info btn-sm', 'target'=>'_blank']); ?>
                                </div>
                            </td>
                        </tr>
                        <?php endforeach; ?> 
                    </tbody>
				</table>
			</div>
       </div>
	</div>
</div>
<?php echo $this->element('Neptune.pagination'); ?>
