<h1>About Us</h1>
<h3>Welcome to myedirectory!!</h3>
<p>My Dominion 2 is the platform made available by consumer for the consumer. Each one of us is consumer and in need of several services on day to day basis and especially when we are roaming. This portal supports all of them – consumers and product/service provider through the unique way.  For more details refer our Products and Associates page. </p>
<p>We, M/s Yogeshwari Enterprises & M/s Siddhi Enterprises having our office in Thane, laid the foundation of MYEDIRECTORY. And now with the support of the key associates, we are pleased to present this wonderful opportunity for the benefit of everyone!  Yes, each and everyone whoever is associated with us, we are committed to support them to become Atma Nirbhar. </p>
<p>The Business is for ME. I am accountable for my own progress. I am standing on the platform of MYEDIRECTORY and with the support from the company in the background, I will keep on growing. All our associates get this message through our logo.</p>
<p>We as a team myedirectory are committed to bring huge difference in the way of living of all those who come in our family – i.e. all listed member and all business associates. We stand for making them Atma Nirbhar as our contribution in making  Atma Nirbhar Bharat. Our dedicated team is having the potential to cause transformation in Personal and Financial areas of our family members.</p>
<p>Management is committed to create opportunities and inviting you to become a part of our family!!</p>