<h1>Terms of Use</h1>
<p>Access to and use of the www.myedirectory.com website (hereinafter the myedirectory Website) and the
information, materials, products and services available through the myedirectory Website are subject to these
terms of use (the Website Terms of Use).</p>
<p>The Website Terms of Use may be updated from time to time. Updated versions will be posted on the
myedirectory Website and are effective immediately. When using the Myedirectory Website you should
regularly verify whether the Website Terms of Use have been updated or amended.</p>
<p>The Myedirectory Website provides information on Myedirectory, the Myedirectory Business opportunity and
Myedirectory products and services, is intended only for use from and in the Republic of India (India) and is
based on the laws of India. Myedirectory disclaims any liability and responsibility for use of the Myedirectory
Website from other countries.</p>

<h3>A. Password Protected Parts of the Myedirectory Website</h3>
<p>The password-protected parts of the Myedirectory Website are intended exclusively for BA and LM in India.&nbsp;Please note: Passwords should not be given to third parties and must be protected from unauthorized access.&nbsp;If you become aware of any unauthorized use of your password, you should notify Myedirectory immediately.&nbsp;Myedirectory disclaims any liability and responsibility for damage caused as a result of improper use of&nbsp;passwords.</p>
<h3>B. Myedirectory&rsquo;s Privacy Statement and Policies</h3>
<p>All personal data provided to Myedirectory while using the Myedirectory Website will be handled in&nbsp;accordance with the Website Privacy Policy. If you register or log in as BA or as a Listed Member, the Privacy<br />Policy for BAs and LMs applies in addition.&nbsp;</p>
<p>All information provided to Myedirectory during the use of the Myedirectory Website must be correct,&nbsp;complete, and up to date. If we have reason to believe that incorrect, incomplete or outdated information has<br />been provided, access to the Myedirectory Website may be limited or blocked for concerned BA and or LM.&nbsp;</p>
<h3>C. Copyright and Use of Myedirectory Website Materials</h3>
<p>The Myedirectory Website and materials made available on the Myedirectory Website are processed to&nbsp;protect by intellectual property rights, including copyrights, trade names and trademarks, including the name<br />Myedirectory and the Myedirectory logo, and are owned by M/s Yogeshwari Enterprises or used by&nbsp;Myedirectory under a license or with permission from the owner of such rights. Material is processed to&nbsp;protect for such intellectual property rights include the design, layout, look, appearance, graphics, photos,&nbsp;images, articles, stories and other materials available on the Myedirectory Website (collectively, Website&nbsp;Materials).</p>
<p>Website Materials may only be reproduced, distributed, published or otherwise publicly presented based on a&nbsp;prior written consent by M/s Yogeshwari Enterprises. As an exception to this rule, Myedirectory grants BAs a&nbsp;&nbsp;limited, non-exclusive, revocable license to use Website Materials solely for the purposes of operating their&nbsp;business as Business Associate by downloading, storing, printing, copying, sharing and displaying Website&nbsp;Materials, provided that the Material is unaltered and the source of information is quoted in case any Website&nbsp;Materials are disclosed to third parties. Should you have additional questions on the use of the Website&nbsp;Materials, please contact us.</p>
<p>The right to use the password-protected parts of the Myedirectory Website as BA or a LM ends on termination&nbsp;of the BA Contract or of the LM Contract without the need for any further actions by Myedirectory. In the<br />event of termination thereof, the BA or LM must delete or destroy all stored, printed or copied materials,&nbsp;unless they must be retained to comply with legal requirements.</p>
<p>D. Links to Other Websites and Links from Other Websites to myedirectory Website</p>
<p>We may link to other websites which are not within our control. We are not responsible or liable for the&nbsp;information or materials made available by such third party websites. We encourage you to read the terms of<br />use and privacy statements of all third party websites before using such websites or submitting any personal&nbsp;data or any other information on or through such websites.</p>
<p>Inserting links from a third-party website to www.myedirectory.com requires prior written consent from M/s.&nbsp;Yogeshwari Enterprises. If you would like to link from other websites, please contact us.</p>
<h3>E. Restricting or Blocking Access to the Myedirectory Website for Violations of the Website Terms of Use</h3>
<p>In case of a violation of these Website Terms of Use, particularly in case of use of the Myedirectory Website or&nbsp;individual elements of the Myedirectory Website for other than its intended use, access to the Myedirectory&nbsp;Website may be restricted or blocked.&nbsp;</p>
<p>Myedirectory generally reserves the right to partially or entirely alter, block, or discontinue the Myedirectory&nbsp;Website or its content at any time and for any reason.</p>
<h3>F. Limitation of Liability, Disclaimer of Warranties and Indemnification</h3>
<p>To the extent permitted by applicable law, neither Myedirectory nor its affiliates shall be liable for any direct,&nbsp;indirect, consequential or other damages whatsoever, including but not limited to property damage, loss of<br />use, loss of business, economic loss, loss of data or loss of profits, arising out of or in connection with your use&nbsp;or access to, or inability to use or access the Myedirectory Website or its content.</p>
<p>Myedirectory will put reasonable efforts to ensure that the information and materials provided on this&nbsp;Website are correct. However, Myedirectory cannot guarantee the accuracy of all information and materials<br />and does not assume any responsibility or liability for the accuracy, completeness or authenticity of any&nbsp;information and materials contained on this Website. We do not warrant that the operation of this Website<br />will be uninterrupted or error-free, or that this Website is free from viruses or other components that may be&nbsp;harmful to equipment or software. Myedirectory does not guarantee that the Myedirectory Website will be<br />compatible with the equipment and software which you may use and does not guarantee that the&nbsp;Myedirectory Website will be available all the time or at any specific time.</p>
<p>You agree to indemnify, defend and hold Myedirectory and its affiliates harmless from any liability or loss,&nbsp;related to either your violation of these Website Terms of Use or your use of the Myedirectory Website.</p>
<h3>G. Severability Clause</h3>
<p>Should one of the provisions of these Website Terms of Use be invalid or declared invalid by a court, this will&nbsp;not affect the validity of the remaining terms.</p>
<p>If you have any comments or inquiries about these Terms of use, if you would like to update information we&nbsp;have about you, or to exercise your rights, you may contact us at&nbsp;care@myedirectory.com.</p>
<h3>H. Choice of law, Jurisdiction and Venue</h3>
<p>The use of the Myedirectory Website and these Website Terms of Use are governed by the laws of the&nbsp;Republic of India. Hon. District and Sessions Court of Thane have exclusive jurisdiction and venue for any<br />disputes arising from or in connection with the use of the Myedirectory Website or these Website Terms of&nbsp;Use.</p>