<html>
    <head>
		<style>
			body {
				font-family: sans-serif;
				font-size: 11px;
			}
			table {
				width: 100%;
				border-collapse: collapse;
			}
			table, th, td {
				border: 1px solid #BFBFBF;
				padding: 7px;
				vertical-align: top;
			}
			th {
				align: center;
				vertical-align: middle;
			}

			tr.rejected td, tr.rejected th {
				text-decoration: line-through;
			}

			.color {
				background-color: #E5E5E5;
			}

			h3, hr {
				padding :0;
				margin :0;
			}
		/** Define the margins of your page **/
			@page {
        		header: html_myHeader;
        		footer: html_myFooter;
				margin-top: 3cm;
			}

			div.page-break {
        		page-break-before: always;
		    }
		</style>
	</head>
	<body>
		<htmlpageheader name="myHeader" style="display:none">
			<h2 align="center">Dominion</h2>
			<p align="center"><strong>Projects Report</strong></p>
			<hr />
    	</htmlpageheader>

		<htmlpagefooter name="myFooter" style="display:none">
			<table width="100%" border="0">
				<tr>
					<td width="70%" align="center" style="font-weight: bold; font-style: italic;">
						&nbsp;
					</td>
					<td align="right" style="font-weight: bold; font-style: italic;">
						Page {PAGENO}/{nbpg}
					</td>
				</tr>
			</table>
		</htmlpagefooter>
		<table>
			<thead>
				<tr class="color">
                    <th width="10%">Q No</th>
					<th width="10%">Q Date</th>
					<th width="10%">P No</th>
					<th width="10%">P Date</th>
					<th width="15%">Site</th>
					<th>Client</th>
                    <th width="12%">Amount</th>
                    <th width="12%">Status</th>
				</tr>
			</thead>
			<tbody>
            <?php
                foreach($projects as $project) {
            ?>
            <tr>
                <td><?= $project->quotation_no ?></td>
                <td><?= $project->quotation_date ?></td>
                <td><?= $project->project_no ?></td>
                <td><?= $project->project_date ?></td>
                <td><?= $project->site_name ?></td>
                <td><?= $project->client->client_name ?></td>
				<td align="right"><?= $this->Number->currency($project->final_amount,'INR') ?></td>
                <td><?= $project->status ?></td>
            </tr>
			<?php } ?>
			</tbody>
		</table>
	</body>
</html>
